<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watched TV Shows</title>
    <link rel="stylesheet" href="/styles.css" />
    <script>
      function filterShows() {
        const searchTerm = document
          .getElementById("search-bar")
          .value.toLowerCase();
        const selectedGenre = document.getElementById("genre-filter").value;
        const selectedCountry = document.getElementById("country-filter").value;
        const shows = document.getElementsByClassName("show");

        for (const show of shows) {
          const title = show
            .getElementsByTagName("h2")[0]
            .innerText.toLowerCase();
          const genres = show.getAttribute("data-genres").split(",");
          const countries = show.getAttribute("data-countries").split(",");

          if (
            title.includes(searchTerm) &&
            (selectedGenre === "All" || genres.includes(selectedGenre)) &&
            (selectedCountry === "All" || countries.includes(selectedCountry))
          ) {
            show.style.display = "block";
          } else {
            show.style.display = "none";
          }
        }
      }
    </script>
  </head>
  <body>
    <header>
      <h1>Watched TV Shows</h1>
    </header>
    <div class="filters">
      <input
        type="text"
        id="search-bar"
        onkeyup="filterShows()"
        placeholder="Search for shows..."
      />
      <select id="genre-filter" onchange="filterShows()">
        <option value="All">All Genres</option>
        <% genres.forEach(genre => { %>
        <option value="<%= genre %>"><%= genre %></option>
        <% }); %>
      </select>
      <select id="country-filter" onchange="filterShows()">
        <option value="All">All Countries</option>
        <% countries.forEach(country => { %>
        <option value="<%= country %>"><%= country %></option>
        <% }); %>
      </select>
    </div>
    <div class="shows-container">
      <% if (watchedShows.length > 0) { %> <% watchedShows.forEach(show => { %>
      <div
        class="show"
        data-genres="<%= show.genres.join(',') %>"
        data-countries="<%= show.countries.join(',') %>"
      >
        <h2><%= show.title %></h2>
        <img
          class="thumbnail"
          src="http://<%= PLEX_SERVER_IP %>:<%= PLEX_SERVER_PORT %><%= show.thumb %>?X-Plex-Token=<%= PLEX_TOKEN %>"
          alt="<%= show.title %>"
        />
        <p>Genres: <%= show.genres.join(', ') %></p>
        <p>Country: <%= show.countries.join(', ') %></p>
      </div>
      <% }); %> <% } else { %>
      <p>No watched shows found.</p>
      <% } %>
    </div>
  </body>
</html>
